{% extends 'index.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success mt-4">Dodaj post</button>
        </form>

        <script>
            let user = "{{ user.id }}";
            document.getElementById("current_user").value = user;
        </script>
    {% else %}
        <h1 class="position-absolute top-50 start-50 translate-middle">Zaloguj się aby móc korzytać z aplikacji</h1>
    {% endif %}
{% endblock %}